
#background{
	background-color: aqua;
	margin: 0;
}
		
}
.menu_usawienia_opakowania {
	display: inline-block;
	background-color: aqua;
}

.gradient {
	position: relative;
	margin: 0;
	padding: 0;
    width: 100%;
	height: 0;
	border-top: solid;
    border-image: -moz-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
    border-image-slice: 1;
	border-width: 70px;
}

.glowne_menu_pole_dolne{
	position: absolute;
	top: -30px;
	padding: 0;
	width: 20%;
    height: 100px;
	background-color: #fff;
	display: inline-block;
	text-align: center;
}

.div_pusty_wysokosc{
	position: absolute;
	top: -30px;
	padding: 0;
    height: 100px;
	width: 4%;
	display: inline-block;
	text-align: center;
	background-color: #fff;
}

.glowne_menu_ustawienie_srodka {
	text-decoration: none;
	font-size: 20px;	
}

#div_pusty_lewy{
	left: 0;
}

#menu_pozycja_1{
	left: 4%;
}

#div_pusty_srodkowy_1{
	left: 24%;
	
}

#menu_pozycja_2{
	left: 28%;
}

#div_pusty_srodkowy_2{
	left: 48%;
}

#menu_pozycja_3{
	left: 52%;
}

#div_pusty_srodkowy_3{
	left: 72%;
}

#menu_pozycja_4{
	left: 76%;
}

#div_pusty_prawy{
	left: 96%;
}

.glowne_menu_pole_dolne:hover{
	top: -10px;
	height: 80px;
}


#div_zielony{
	position: relative;
	top: 70px;
	width: 100%;
	height: 50px;
	background-color: greenyellow;
}
