nav ol li {
	text-decoration: none;
	font-size: 30px;
	display: inline-block;
	padding: 50px;
	text-align: center;
}

nav ol li a{
	text-decoration: none;
	font-size: 30px;
}

.gradient {
	 margin: auto;
    width: 100%;
    height: 100%;
	border-top: solid;
    border-image: -moz-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
    border-image-slice: 1;
	border-width: 30px;
}


nav ol {
	list-style: none;
	text-align: center;
/*
	border-top: solid;
	border-image: (left,red,orange,yellow,green,blue,indigo,violet);
	border-width: 50px;
*/
}